.div_1{
    height: 40px;
    width: 450px;
    background-color: rgb(81, 165, 221);
}

.div_2{
    height: 20px;
    width: 450px;
    background-color:  rgb(165, 205, 231);
}

.div_3{
    height: 30px;
    width: 450px;
    background-color: rgb(94, 216, 216);
}

.div_4{
    height: 30px;
    width: 450px;
    background-color: cyan;
}

.div_5{
    height: 30px;
    width: 450px;
    background-color: cyan;
}

.div_6{
    height: 30px;
    width: 450px;
    background-color: cyan;
}

